dind-storage
Dockerfile
e2e.sh
e2e/cache
.idea
.run
.venv
charts

auth/node_modules
auth/dist

gateway/node_modules
gateway/dist

logger/node_modules
logger/dist

loyalty/.mvn
loyalty/target

payment/.venv
payment/__pycache__

person/rsoi.exe
person/rsoi

reservation/node_modules

web/node_modules
web/dist